build/
bin/
.gradle/
.settings/
br.ufrn.forall.betaunittestgenerator/.settings/
br.ufrn.forall.betaunittestgenerator/.classpath
br.ufrn.forall.betaunittestgenerator/.settings/org.eclipse.jdt.core.prefs
